<div class="head-bar">
  <div class="op-bar">
    <div class="btn primary" [class.hidden]="isBatchModel" routerLink="../create">+新建</div>
    <div class="btn default" [class.hidden]="isBatchModel" (click)="batchModel()">批量删除</div>
    <!-- <div class="btn default" [class.hidden]="isBatchModel" (click)="waitTips()">批量导出</div> -->
    <div class="btn primary" [class.hidden]="!isBatchModel" (click)="batchDeleteDataSource()">删除</div>
    <div class="btn default" [class.hidden]="!isBatchModel" (click)="batchModel()">取消</div>
    <label class="checkbox-inline" [class.hidden]="!isBatchModel">
        <input type="checkbox" name="data-source-select-checkbox" [(ngModel)]="isAll" (click)="allSelectChange()">
        <span>全选</span>
    </label>
  </div>
  <div class="search-w">
      <nz-input [nzPlaceHolder]="'按名称搜索'" [(ngModel)]="searchText" style="width: 300px;">
        <ng-template #addOnAfter>
          <i class="iconfont icon-sousuo" alt="编辑" title="编辑"></i>
        </ng-template>
      </nz-input>
  </div>
</div>
<app-tag-bar [tags]="allTags" (change)="tagChange($event)"></app-tag-bar>
<div class="list-w" [class.isDelete]="isBatchModel">
  <div *ngFor="let data of displayDataSource" class="d-w" (click)="addChoice(data.id)" [class.choice]="isChoice(data.id)">
    <div class="d-detail">
      <div class="img-w">
        <div class="img"></div>
        <div class="img"></div>
      </div>
      <div class="text-w">
        <div class="up-w">
          <div class="title-w">
            <div class="title" routerLink="../scan" [fragment]="data.url">{{data.title}}</div>
            <div class="icon-list">
                <i class="iconfont icon-bianji" alt="编辑" title="编辑" routerLink="../edit" [fragment]="data.url"></i>
                <!-- <i class="iconfont icon-shangchuan" alt="导出" title="导出" (click)="waitTips()"></i> -->
                <i class="iconfont icon-shanchu" alt="删除" title="删除" on-click="deleteDataSource(data.id)"></i>
            </div>
          </div>
          <div class="monitor-t">
            <span>监控对象：{{data.panelNum}}</span>
          </div>
          <div class="desc">
            <span>创建者:{{data.createUser}}</span>
            <span>创建时间:{{data.createTime | date:'yyyy-MM-dd'}}</span>
          </div>
        </div>
      </div>
      <div class="mask" *ngIf="isBatchModel"></div>
    </div>
  </div>
</div>
<div [style.visibility]="needLoad ? 'visible' : 'hidden'" class="loading-w" >
  <img src="assets/page-loading.gif" *ngIf="!noMore"/>
  <span *ngIf="noMore">没有更多数据了</span>
</div>

<div *ngIf="templates && templates.length === 0" class="null-tips">
  <span>暂无模板！</span>
</div>
  