<div *ngIf="monitorObjects.length == 1">
  <i class="fa fa-add"></i>
  <span>确定删除仪表盘：{{monitorObjects[0].name}}？</span>
</div>

<div *ngIf="monitorObjects.length > 1">
  <div class="title">
    <i class="fa fa-exclamation-circle fa-2x warning"></i>
    <span>已选择{{monitorObjects.length}}个仪表盘，确定删除？</span>
  </div>
  <div class="span-list">
    <ng-container *ngFor="let monitorObject of monitorObjects; let i = index">
      <span *ngIf="i !== 0">,&nbsp;</span>
      <span>{{monitorObject.name}}</span>
    </ng-container>
  </div>
</div>

<div class="customize-footer">
  <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="confirm($event)">
    确 定
  </button>
  <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="cancel($event)">
    取 消
  </button>
</div>