<app-goback></app-goback>
<div class="tips">
  创建模板
</div>
<div class="line">
  <label class="radio-inline p-d-l">
    <input type="radio" name="method" value="custom" [(ngModel)]="templateType"> 自定义
  </label>
  <label class="radio-inline">
    <input type="radio" name="method" value="batch" checked="true" [(ngModel)]="templateType"> 批量导入
  </label>
</div>
<div *ngIf="templateType === 'custom'">
  <iframe [src]="grafanaHostDashboardUrl"></iframe>
</div>
<div *ngIf="templateType === 'batch'">
  <app-upload (change)="fileChange($event)" (error)="fileUploadError($event)" (start)="fileStartUpload($event)"></app-upload>
  <div class="format-tips">
    格式：名称 | 标识 | URL | 领域 | 间隔 | 间隔单位
  </div>
  <div class="btn simple" (click)="uploadfile()">测试链接</div>
</div>

<div class="btn-w">
  <div class="btn primary" on-click="create()">创建</div>
  <div class="btn default" routerLink="template/personal/list">取消</div>
</div>