:host ::ng-deep .ant-input {
    height: 32px;
}

:host ::ng-deep .ant-select-selection--single {
    height: 32px;
}

:host ::ng-deep textarea.ant-input {
    height: auto;
}

.row {
    display: flex;
}

.column-left {
    width: 204px;
    padding-right: 10px;
}

.column-right {
    width: 400px;
}

.form-w {
    display: flex;
    justify-content: center;
    .dark-wrapper {
        display: flex;
        min-height: 300px;
        background-color: rgba(248, 249, 249, 1);
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}

.jump-info-w {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.count-w {
    display: inline-block;
    width: 210px;
}