.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
}
