<div class="op-bar">
  <div class="btn primary" [class.hidden]="isDeleteModel" routerLink="../create">+新建</div>
  <div class="btn default" [class.hidden]="isDeleteModel" (click)="deleteModel()">批量删除</div>
  <div class="btn primary" [class.hidden]="!isDeleteModel" (click)="confirmDelete()">删除</div>
  <div class="btn default" [class.hidden]="!isDeleteModel" (click)="deleteModel()">取消</div>
  <label class="checkbox-inline" [class.hidden]="!isDeleteModel">
      <input type="checkbox" name="data-source-select-checkbox" [(ngModel)]="isAll" (click)="allSelectChange()">
      <span>全选</span>
  </label>
</div>
<app-tag-bar [tags]="allTags" (change)="tagChange($event)"></app-tag-bar>
<div class="list-w" [class.isDelete]="isDeleteModel">
  <div *ngFor="let dash of displayDashboards" class="d-w" (click)="addChoice(dash.uri, $event)" [class.choice]="isChoice(dash.uri)">
    <div class="d-detail">
      <div class="img-w">
        <div class="img"></div>
        <div class="img"></div>
      </div>
      <div class="text-w">
        <div class="title" routerLink="../../scan" [fragment]="dash.uri">{{dash.title}}</div>
        <p class="desc">
          <span>#</span>
          <span *ngFor="let tag of dash.tags" class="tag">
            {{tag}}
          </span>
        </p>
        <div class="icon-list">
          <div *ngIf="dash.uri === homePage" class="c-home">
            <i class="iconfont icon-dangqianshouyexianshi" alt="设为主页显示" title="设为主页显示"></i>
            <span>当前主页显示</span>
          </div>
          <i *ngIf="dash.uri !== homePage" class="iconfont icon-sheweishouyexianshi" alt="设为主页显示" title="设为主页显示"  on-click="setHomePage(dash.uri)"></i>
          <i class="iconfont icon-bianji" alt="编辑" title="编辑" on-click="editDashboard(dash.uri)"></i>
          <i class="iconfont icon-shezhi" alt="配置" title="配置" routerLink="../../edit"></i>
          <i class="iconfont icon-shanchu" alt="删除" title="删除" on-click="deleteDashbaordConfirm(dash.uri)"></i>
        </div>
      </div>
      <div class="mask" *ngIf="isDeleteModel"></div>
    </div>
  </div>
</div>

<div *ngIf="dashboards && dashboards.length === 0" class="null-tips">
  <span>暂无仪表盘！</span>
</div>

<app-modal [modalId]="editModalId" (ok)="modifyInfo()" title="修改仪表盘基本信息" okText="确定">
  <form [formGroup]="baseInfoForm" class="form" [class.ng-touched]="isTouched">
    <div class="form-group inline">
      <div class="label flex-1"><span class="dot">*</span>名称</div>
      <div class="flex-9 r-wrapper">
          <input class="form-control" formControlName="title" [(ngModel)]="baseInfo.title" />
          <div class="explain-w">
              <div *ngIf="title.invalid && (title.dirty || title.touched)">
                  <div *ngIf="title.errors.required">
                      必填
                  </div>
                  <div *ngIf="title.errors.minlength">
                    至少4个字符
                  </div>
                </div>
          </div>
      </div>
    </div>

    <div class="form-group inline">
        <div class="label flex-1"><span class="dot">*</span>标签</div>
        <div class="flex-9 r-wrapper">
            <app-tag-input formControlName="tags" [(ngModel)]="baseInfo.tags"></app-tag-input>
            <div class="explain-w">
                <div *ngIf="tags.invalid && (tags.dirty || tags.touched)">
                    <div *ngIf="tags.errors.required">
                        必填
                    </div>
                  </div>
            </div>
        </div>
      </div>

    <div class="form-group inline top">
        <div class="label flex-1"><span class="dot">*</span>备注</div>
        <div class="flex-9 r-wrapper">
            <textarea  rows="5" class="form-control" formControlName="desc" [(ngModel)]="baseInfo.desc"></textarea>
            <div class="explain-w">
                <div *ngIf="desc.invalid && (desc.dirty || desc.touched)">
                    <div *ngIf="desc.errors.required">
                      必填
                    </div>
                  </div>
            </div>
        </div>
      </div>
  </form>
</app-modal>