@import "../../../../theme.scss";

.list-w {
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-top: 10px;
  .d-w {
    margin: 10px;
    display: inline-block;
    width: calc(100%/3 - 20px);
    .d-detail {
      height: 143px;
      background-color: #1f1d1e;
      display: flex;
      padding: 15px;
      .img-w {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: transparent;
        img {
          width: 120px;
          height: 70px;
        }
      }
      .text-w {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: calc(100% - 140px);
        .title {
          overflow:hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          cursor: pointer;
          font-size: 13px;
          &:hover {
            color: $btn-hover;
          }
        }
        .desc {
          max-height: 70px;
          color: $text-color-3;
          font-size: 12px;
          margin-top: 20px;
          overflow:hidden;
          text-overflow:ellipsis;
        }
        .icon-list {
          margin-top: auto;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .c-home {
            font-size: 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: auto;
            color: $btn-hover;
            &:hover {
              color: $main-color;
            }
            img {
              margin-left: 0px;
            }
            span {
              margin-left: 5px;
              margin-top: 2px;
            }
          }
          img {
            cursor: pointer;
            margin-left: 10px;
            &.home {
              width: 16px;
              height: 14px;
            }
            &.pan {
              width: 15px;
              height: 14px;
            }
            &.auth {
              width: 12px;
              height: 14px;
            }
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.null-tips {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}