@import "../../../../theme.scss";

.op-bar {
  .default {
    margin-left: 10px;
  }
  .checkbox-inline {
    margin-left: 10px;
  }
}

app-tag-bar {
  margin-top: 20px;
}

.list-w {
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-top: 10px;
  &.isDelete .d-w {
    cursor: pointer;
    border-color: rgba(229, 229, 229, 1);
    position: relative;
    &.choice, &:hover{
      border-color: rgba(44, 156, 250, 1); 
    }
    .d-detail {
      box-shadow: none;
    }
    .mask {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
  .d-w {
    margin: 10px;
    display: inline-block;
    width: calc(100%/3 - 20px);
    border: 1px solid $list-bite-border-color;
    .d-detail {
      height: 143px;
      background-color: $list-bite-bg-color;
      display: flex;
      padding: 15px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.149019607843137);
      .img-w {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: transparent;
        .img {
          width: 120px;
          height: 70px;
          &:first-child {
            background: url($list-bite-img-1);
            background-size: cover;
          }
          &:last-child {
            background: url($list-bite-img-2);
            background-size: cover;
          }
        }
      }
      .text-w {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: calc(100% - 140px);
        .title {
          overflow:hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
          cursor: pointer;
          font-size: 13px;
          color: $list-bite-title-color;
          &:hover {
            color: $btn-hover;
          }
        }
        .desc {
          max-height: 70px;
          color: #8492a6;
          font-size: 12px;
          margin-top: 5px;
          overflow:hidden;
          text-overflow:ellipsis;
        }
        .icon-list {
          margin-top: auto;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          i {
            margin-left: 10px;
          }
          .c-home {
            font-size: 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-right: auto;
            color: $list-bite-desc-color;
            &:hover {
              color: $btn-hover;
            }
            span {
              margin-left: 5px;
              margin-top: 2px;
            }
          }
          img {
            cursor: pointer;
            margin-left: 10px;
            &.home {
              width: 16px;
              height: 14px;
            }
            &.pan {
              width: 15px;
              height: 14px;
            }
            &.remove {
              width: 15px;
              height: 14px;
            }
            &.auth {
              width: 12px;
              height: 14px;
            }
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}

.null-tips {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.iconfont {
  cursor: pointer;
}

.form {
  padding: 20px 100px 20px 40px;
}