@import "../../../../theme.scss";

.list-w {
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-top: 10px;
  .d-w {
    margin: 10px;
    display: inline-block;
    width: calc(100%/3 - 20px);
    border: 1px solid $list-bite-border-color;
    .d-detail {
      height: 124px;
      background-color: $list-bite-bg-color;
      display: flex;
      padding: 15px 25px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.149019607843137);
      flex-direction: column;
      .title-w {
        display: flex;
        justify-content: space-between;
        img {
          width: 15px;
          height: 14px;
          cursor: pointer;
        }
        .title {
          font-size: 13px;
          color: $list-bite-title-color;
          &:hover {
            color: $btn-hover;
          }
          cursor: pointer;
        }
        .remove {
          margin-left: 10px;
        }
      }
      .lab-w {
        margin-top: 5px;
        & > div {
          font-size: 12px;
          line-height: 12px;
          padding: 3px 10px;
          display: inline-block;
          border-radius: 3px;
          text-align: center;
          &:first-child {
            background-color: #336565;
          }
          &:last-child {
            background-color: #3e9457;
          }
        }
      }
      .desc-w {
        margin-top: 15px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        cursor: pointer;
        font-size: 13px;
        color: $btn-hover;
        &:hover {
          color: $main-color;
        }
        cursor: pointer;
      }
      .url-w {
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        cursor: pointer;
        font-size: 13px;
        cursor: pointer;
        &:hover {
          color: $btn-hover;
        }
        color: #999999;
      }
    }
  }
}

.null-tips {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}