<div class="btn primary" routerLink="/monitor/data-source/create">新建监控源</div>
<div class="list-w">
  <div *ngFor="let dash of dataSource" class="d-w">
    <div class="d-detail">
        <div class="title-w">
          <div class="title">{{dash.lang1}}</div>
          <div class="title-w">
              <img src="assets/pan.png" class="pan" alt="编辑" title="编辑" [routerLink]="['/monitor/data-source/edit', dash.id]"/>
              <img src="assets/recycle.png" class="remove" alt="删除" title="删除" on-click="deleteDataSource(dash.id)"/>
          </div>
        </div>
        <div class="lab-w">
          <div>领域:{{dash.regionName}}</div>
          <div>间隔:{{dash.options && dash.options.scrape_interval}}</div>
        </div>
        <div class="desc-w">{{dash.desc}}</div>
        <div class="url-w">{{dash.url}}</div>
    </div>
  </div>
</div>
<div *ngIf="dataSource && dataSource.length === 0" class="null-tips">
    <span>暂无数据源！</span>
</div>