@import "../../../../theme.scss";

.f-w {
  margin-top: 20px;
  background-color: $dashboard-create-background-color;
  padding: 10px 20px;
  .tips {
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid $line-color-thin;
  }
  .btn-w {
    border-top: 1px solid $line-color-thin;
    padding-top: 30px;
  }

  .l-t {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .l-w {
    display: flex;
    .scroll-w {
      height: 250px;
      overflow-y: auto;
      & > div {
        font-size: 12px;
        padding: 10px 20px;
        border-bottom: 1px solid $line-color-thin;
        &:first-child {
          border-top: 1px solid $line-color-thin;
        }
        span {
          display: inline-block;
          padding-left: 20px;
        }
      }
    }
    & > div {
      flex: 1;
    }
    .summary {
      background-color: $bit-background;
      margin-left: 20px;
      margin-right: 40px;
      padding: 20px;
      .t {
        font-size: 12px;
        padding-bottom: 10px;
      }
      .d {
        padding-bottom: 10px;
        font-size: 12px;
        color: $text-color-3;
      }
      .img-w {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        background-color: transparent;
        .img {
          width: 120px;
          height: 70px;
          &:first-child {
            background: url($list-bite-img-1);
            background-size: cover;
          }
          &:last-child {
            background: url($list-bite-img-2);
            background-size: cover;
          }
        }
      }
    }
  }

  .line {
    // padding: 0
    &.radio-w {
      background: $radio-bar-background;
      color:  $radio-bar-color;
      padding: 10px 50px;
    }
    padding: 20px 50px;
    .p-d-l {
      padding-left: 120px;
    }
    // .lab {
    //   padding: 7px 10px;
    //   background-color: $label-color;
    //   font-size: 12px;
    //   .red-pointer {
    //     color: #ff0000;
    //   }
    //   display: inline-block;
    // }
    .cho {
      display: inline-block;
      background-color: $bit-background;
      padding: 7px 5px 7px 15px;
      font-size: 12px;
      min-width: 450px;
    }
    &.temp-select {
      color: $search-bar-text-color;
    }
  }
}

// .custom-template {
// }

.custom-data-source {
  padding: 0 0 0 40px;
}

.success-wrap {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $search-bar-text-color;
}