<app-goback></app-goback>

<div class="line temp-select">

  <div *ngIf="'independent' === method">
    <div class="m-form-control">
      <div class="l-w">
        <span class="dot">*</span>
        <span class="lab">名称</span>
        <img src="assets/question.png"/>
      </div>
      <div class="i-w {{isError.lang1 && 'has-error'}}">
        <input [(ngModel)]="dataSource.lang1" placeholder="请输入..."/>
      </div>
    </div>

    <div class="m-form-control">
      <div class="l-w">
        <span class="dot">*</span>
        <span class="lab">标识</span>
        <img src="assets/question.png"/>
      </div>
      <div class="i-w {{isError.name && 'has-error'}}">
        <textarea rows="3" [(ngModel)]="dataSource.name" ></textarea>
      </div>
    </div>

    <div class="m-form-control">
      <div class="l-w">
        <span class="dot">*</span>
        <span class="lab">URL</span>
        <img src="assets/question.png"/>
      </div>
      <div class="i-w {{isError.url && 'has-error'}}">
        <input type="text" class="no-edit" [(ngModel)]="dataSource.url" disabled placeholder="请输入..." (change)="isTestUrl=false" />
      </div>
    </div>

    <div class="m-form-control">
      <div class="l-w">
        <span class="dot">*</span>
        <span class="lab">领域</span>
        <img src="assets/question.png"/>
      </div>
      <app-select [options]="region" (change)="changeRegion($event)" [default]="reg"></app-select>
    </div>

    <div class="m-form-control space">
      <div class="l-w">
        <span class="dot">*</span>
        <span class="lab">间隔</span>
        <img src="assets/question.png"/>
      </div>
      <div class="i-w {{isError.scrapeInterval && 'has-error'}}">
        <input placeholder="请输入..." [(ngModel)]="scrapeInterval"/>
      </div>
      <app-select [options]="unit" (change)="changeUnit($event)" [default]="u"></app-select>
    </div>
    <div class="m-form-control">
      <div class="l-w">
        <span class="dot">*</span>
        <span class="lab">备注</span>
        <img src="assets/question.png"/>
      </div>
      <div class="i-w {{isError.desc && 'has-error'}}">
        <textarea rows="3" [(ngModel)]="dataSource.desc" ></textarea>
      </div>
    </div>
  </div>

</div>

<div class="btn-w">
  <div class="btn primary" [class.disable]="!isTestUrl" on-click="publish()">发布</div>
  <div class="btn default" routerLink="../../list">取消</div>
</div>
