<div class="card" [ngClass]="{selected: isSelected}" (click)="select()">
  <div class="title">
    <span>{{monitorObject.name}}</span>
    <div class="more">
      <i class="fa fa-edit" title="编辑" (click)="edit()"></i>
      <i class="fa fa-times-circle" title="删除" (click)="delete()"></i>
    </div>
  </div>
  <div class="description" title="{{monitorObject.description}}">
    {{monitorObject.description}}
  </div>
  <div class="index">
    <span>监控指标项数量：{{monitorObject.indexNum}}</span>
    <span>读数据源：{{monitorObject.dataSource}}</span>
  </div>
  <div class="tags">
    <span>#</span>
    <ng-container *ngFor="let tag of monitorObject.tags">
      <nz-tag>{{tag}}</nz-tag>
    </ng-container>
  </div>
</div>

<ng-template #tplEdit>
  <div>
    <span>编辑指标基本信息</span>
  </div>
</ng-template>

<ng-template #tplDelete>
  <div>
    <span>删除</span>
  </div>
</ng-template>