@import "../../../../theme.scss";

.tips {
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #3e3c3e;
}

.line {
  padding: 20px 40px;
  .p-d-l {
    padding-left: 120px;
  }
}

.btn-w {
  border-top: 1px solid #3e3c3e;
  padding-top: 20px;
}

.r-w {
  padding: 0 10px 20px 10px;
}
