<div>
  <div class="menu">
    <div class="buttons" *ngIf="!isBatchModel">
      <div class="btn primary" (click)="newObject()">+新建</div>
      <!-- <div class="btn default" style="margin-left: 15px;" (click)="batchDeleteObjects()">批量删除</div> -->
      <div class="btn default" style="margin-left: 15px;" (click)="batchModel()">批量删除</div>
    </div>
    <div class="batch-delete-buttons" *ngIf="isBatchModel">
      <div class="btn primary" (click)="batchDeleteDataSource()">删除</div>
      <div class="btn default" style="margin-left: 15px;" (click)="batchModel()">取消</div>
      <!-- <label nz-checkbox style="margin-left: 15px;" [(ngModel)]="allChecked">
        <span>全选</span>
      </label> -->
      <label nz-checkbox style="margin-left: 15px;" [(ngModel)]="isAll" (click)="allSelectChange()">
        <span>全选</span>
      </label>
    </div>
    <div class="search">
      <nz-input [nzPlaceHolder]="'按名称、标签、监控对象等搜索'" [(ngModel)]="searchText" style="width: 300px;">
        <ng-template #addOnAfter>
          <i class="iconfont icon-sousuo point-cursor" (click)="onSearch()"></i>
        </ng-template>
      </nz-input>
    </div>
  </div>
  <app-tag-bar [tags]="monitorTags" (change)="tagChange($event)"></app-tag-bar>
  <div class="cards">
    <div nz-row [nzGutter]="16">
      <!-- <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let monitorObject of monitorFiltedObjects"> -->
        <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let monitorObject of displayDataSource">
        <div class="gutter-box">
          <!-- <app-monitor-object-card [isSelectable]="isBatchDeleteable" [isSelected]="allChecked" [monitorObject]="monitorObject" (selectChanged)="cardSelectChanged($event)" (deleteChanged)="cardDeleteChanged($event)"></app-monitor-object-card> -->
          <app-monitor-object-card (click)="addChoice(monitorObject)" [isSelectable]="isBatchModel" [isSelected]="isChoice(monitorObject)"
            [monitorObject]="monitorObject" (editChanged)="refreshDataSource($event)" (deleteChanged)="deleteDataSource($event)"></app-monitor-object-card>
        </div>
      </div>
    </div>
  </div>
  <div [style.visibility]="needLoad ? 'visible' : 'hidden'" class="loading-w">
    <img src="assets/page-loading.gif" *ngIf="!noMore" />
    <span *ngIf="noMore">没有更多数据了</span>
  </div>
</div>

<div *ngIf="!needLoad && displayDataSource && displayDataSource.length === 0" class="null-tips">
  <span>暂无监控对象！</span>
</div>