.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.search {
    display: flex;
    align-items: center;
  }

.point-cursor {
    cursor: pointer;
}

.tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #F8F9F9;
    margin: 20px 0;
    padding: 0 20px;
}

.null-tips {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }