:host {
    .t-w {
        display: inline-block;
        background-color: rgba(244, 244, 244, 1);
        margin-left: 10px;
        border-radius: 3px;
        padding: 0px 5px;
        margin-top: 5px;
        img {
            width: 10px;
        }
        cursor: pointer;
    }
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 1px 12px 6px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    &.ng-invalid {
        border-color: #F04134;
    }
    user-select: none;
    input {
        display: inline-block;
        border: 0px;
        width: 150px;
        margin-left: 10px;
        outline: 0;
        &:focus {
            // border: 0px;
            outline: 0;
        }
        border-bottom: 1px solid #ccc;
    }
}