@import "../../../../theme.scss";
:host {
  display: block;
  .upload-tool {
    display: flex;
    justify-content: center;
    height: 60px;
    img {
      width: 20px;
      height: 20px;
    }
    align-items: center;
    .t {
      color: #999999;
      font-size: 13px;
      margin: 0 10px;
    }
    .u-span {
      font-size: 13px;
      color: #2C9CFA;
      cursor: pointer;
    }
  }
  max-width: 700px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  &.is-active {
    border-color: $main-color;
  }
}

.file-list {
  .l {
    display: flex;
    padding: 0 20px;
    color: #108ee9;
    align-items: center;
    cursor: pointer;
    line-height: 20px;
    span {
      padding-left: 10px;
    }
    img {
      width: 10px;
      height: 10px;
      &:last-child {
        margin-left: auto;
        visibility: hidden;
      }
    }
    &:hover {
      color: #49a9ee;
      background-color: rgb(231,244,253);
      img {
        visibility: visible;
      }
    }
  }
}