@import "../../../../theme.scss";
:host {
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-size: 13px;
  width: 100%;
  z-index: 1;
  & > div {
    width: 100%
  }
  &:hover {
    //border: 1px solid $btn-primary;
    .d-btn {
      color: $btn-primary;
    }
  }
  .d-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    cursor: pointer;
  }
  .d-menu {
    z-index: 999;
    position: absolute;
    width: 100%;
    padding: 2px 15px;
    top: 34px;
    left: 0px;
    background-color: #333333;
    & > div {
      height: 28px;
      line-height: 28px;
      cursor: pointer;
      &:hover {
        color: $btn-primary;
      }
    }
  }
}