<div class="pointer {{current == 1 ? 'active' : (current > 1 ? 'pass' : '')}}">
  <div>
    {{current > 1 ? '✓' : 1}}
  </div>
  <span>选择模板</span>
</div>
<div class="line {{current > 1 ? 'pass' : ''}}"></div>
<div class="pointer {{current == 2 ? 'active' : (current > 2 ? 'pass' : '')}}">
  <div>
    {{current > 2 ? '✓' : 2}}
  </div>
  <span>选择监控源</span>
</div>
<div class="line {{current > 2 ? 'pass' : ''}}"></div>
<div class="pointer {{current == 3 ? 'active' : (current > 3 ? 'pass' : '')}}">
  <div>
    {{current > 3 ? '✓' : 3}}
  </div>
  <span>完成</span>
</div>
<!--<div class="line  {{current > 3 ? 'pass' : ''}}"></div>-->
<!--<div class="pointer {{current == 4 ? 'active' : ''}}">-->
  <!--<div>-->
    <!--{{current > 4 ? '✓' : 4}}-->
  <!--</div>-->
  <!--<span>完成</span>-->
<!--</div>-->



