.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #F8F9F9;
    margin: 20px 0;
}
