<div>
  <div class="menu">
    <div class="buttons" *ngIf="!isBatchDeleteable">
      <button nz-button [nzType]="'primary'" (click)="newObject()">
        <i class="fa fa-plus"></i>
        <span>新建</span>
      </button>
      <button nz-button [nzType]="'default'" (click)="batchDeleteObjects()">
        <span>批量删除</span>
      </button>
    </div>
    <div class="batch-delete-buttons" *ngIf="isBatchDeleteable">
      <button nz-button [nzType]="'primary'" (click)="confirmBatchDelete()">
        <span>删除</span>
      </button>
      <button nz-button [nzType]="'default'" (click)="cancelBatchDelete()">
        <span>取消</span>
      </button>
      <label nz-checkbox [(ngModel)]="allChecked">
        <span>全选</span>
      </label>
    </div>
    <div class="search">
      <!-- <nz-input [nzPlaceHolder]="'按名称、标签、监控对象等搜索'" [(ngModel)]="searchText" style="width: 300px;"></nz-input>
      <button nz-button (click)="onSearch()">
        <i class="iconfont icon-sousuo"></i>
      </button> -->

      <nz-input [nzPlaceHolder]="'按名称、标签、监控对象等搜索'" [(ngModel)]="searchText" style="width: 300px;">
        <ng-template #addOnAfter><i class="iconfont icon-sousuo point-cursor" (click)="onSearch()"></i></ng-template>
      </nz-input>
    </div>
  </div>
  <div class="tags">
    <strong>标签: </strong>
    <nz-tag (click)="changeCheckTag('all')" [nzColor]="selectedTags.includes('all') ? '#8492A6' : null">不限</nz-tag>
    <nz-tag *ngFor="let tag of monitorTags" (click)="changeCheckTag(tag)" [nzColor]="selectedTags.includes(tag) ? '#8492A6' : null">
      {{tag}}
    </nz-tag>
  </div>
  <div class="cards">
    <div nz-row [nzGutter]="16">
      <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let monitorObject of monitorFiltedObjects">
        <div class="gutter-box">
          <bomp-monitor-object-card [isSelectable]="isBatchDeleteable" [isSelected]="allChecked" [monitorObject]="monitorObject" (selectChanged)="cardSelectChanged($event)" (deleteChanged)="cardDeleteChanged($event)"></bomp-monitor-object-card>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ng-template #tplDelete>
  <div>
    <span>批量删除</span>
  </div>
</ng-template> -->