.alert-w {
    padding: 10px 50px;
    .m {
        i {
    
        }
        span {
            display: inline-block;
            margin-left: 5px;
        }
    }
    .r {
        padding-left: 33px;
        font-size: 14px;
        color: #999999;
        font-family: 'PingFangSC-Regular', 'PingFang SC';
        font-weight: 400;
    }
    .iconfont {
        font-size: 22px;
        vertical-align: sub;
        &.icon-xinxi {
            color: #1296db;
        }
        &.icon-chenggong {
            color: #04a854;
        }
        &.icon-jinggao {
            color: #febe0a;
        }
        &.icon-shibai {
            color: #ee4139;
        }
    }
}