/*引入外部样式*/
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "./theme.scss";
@import "./style/index.scss";

* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
  position: relative;
  font-size: 125%;
}

body {
  font-family: 'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC', '微软雅黑', 'Microsoft YaHei', '宋体', Tahoma, Helvetica, Arial, sans-serif;
  font-size: .7rem;
  line-height: 1.5;
  background-color: $body-background-color;
  >.container {
    padding: 3rem .75rem 0;
  }
  height: inherit;
  // color: #ffffff;
  margin: 0;
  min-width: 860px;
}

.hidden {
  display: none;
}

.m-form-control {
  padding-top: 10px;
  display: flex;
  .l-w {
    font-size: 12px;
    width: 95px;
    display: flex;
    height: 32px;
    align-items: center;
    padding: 0 5px;
    background-color: $label-color;
    border: 1px solid $line-color;
    overflow: hidden;
    .dot {
      color: #ff0000;
    }
    .lab {
      flex: 1;
      padding-left: 5px;
      padding: 7px 10px;
      background-color: $label-color;
      font-size: 12px;
      .red-pointer {
        color: #ff0000;
      }
      display: inline-block;
    }
    img {
      width: 12px;
      height: 12px;
    }
  }
  .i-w {
    border: 1px solid $line-color;
    background-color: $label-color;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    input,textarea {
      outline: 0;
      border: 0;
      background-color: transparent;
      min-width: 400px;
    }
    &.no-bk {
      background-color: transparent;
    }
    &.has-error {
      border: 1px solid #ff0000;
    }
  }

  .btn {
    margin-left: 10px;
  }
  app-select {
    background-color: $label-color;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 200px;
    border: 1px solid $line-color;
  }

  &.space {
    .i-w {
      width: 128px;
      overflow: hidden;
    }
    app-select {
      width: 61px;
      z-index: 0;
    }
  }

}

.format-tips {
  color: rgb(102, 102, 102);
  font-size: 13px;
}


.tabs {
  display: flex;
  .tab {
    outline: none;
    text-decoration: none;
    user-select: none;
    
    font-family: PingFangSC-Regular, "PingFang SC";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: rgb(60, 62, 74);

    padding: 5px 18px;
    border-bottom: 1px solid $line-color;
    cursor: pointer;
    &.active {
      color: $tab-color;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border: 1px solid $line-color;
      border-bottom: 1px solid $tab-focuse-line;
    }
    &:not(.active):hover {
      color: $main-color;
    }
  }
  .space {
    border-bottom: 1px solid $line-color;
    flex: 1;
  }
}
.tab-w {
  padding: 20px 0px;
}

.iconfont {
  color: #868686;
  font-size: 14px;
}

.form {
  &.ng-touched.ng-invalid {
    .form-control {
      &.ng-invalid {
        border-color:#F04134;
      }
    }
  }
  .form-group {
    &.inline {
      display: flex;
      justify-content: center;
      align-items: center;
      .label {
        display: inline;
        font-weight: normal;
        color: #333;
        font-size: 12px;
        .dot {
          color: #F04134;
        }
      }
      input {
        // width: 380px;
        display: inline-block;
      }
    }
    &.top {
      align-items: flex-start;
      .label {
        margin-top: 5px;
      }
    }
  }
  .form-control {
    box-shadow: none;
    input {
      height: 32px;
    }
    &:focus {
      box-shadow: none;
    }
    &.ng-invalid.ng-dirty {
      border-color:#F04134;
    }
  }
  .explain-w {
    color: #F04134;
    position: absolute;
    bottom: -16px;
    font-size: 12px;
  }
}

.r-wrapper {
  position: relative;
}

.flex-1 {
  flex: 1;
}

.flex-9 {
  flex: 9;
}



// 标签
.tag {
  padding: 0px 5px;
    font-family: 'PingFangSC-Regular', 'PingFang SC';
    font-weight: 400;
    font-style: normal;
    border-radius: 3px;
    display: inline-block;
    margin-left: 6px;
    color: #ffffff;
    background-color: #8492a6;
    border-color: #8492a6;
    margin-top: 5px;
}

// 翻页loading
.loading-w {
  width: 100%;
  text-align: center;
  img {
    width: 20px;
  }
}

// 表单校验出错
.ant-form-explain {
  color: #f04134;
}