$main-color: rgb(186, 173, 123);
$line-color: #817754;
$btn-primary: #90855d;
$btn-hover: rgb(157, 144, 101);
$text-color-3: rgb(153, 153, 153);
$bit-background: rgb(51, 51, 51);
$nav-background: #292929;