@import "../../theme.scss";

.tabs {
  display: flex;
  .tab {
    outline: none;
    text-decoration: none;
    user-select: none;
    font-family:PingFangSC-Regular, "PingFang SC";
    color: rgb(102, 102, 102);
    padding: 5px 18px;
    border-bottom: 1px solid $line-color;
    cursor: pointer;
    &.active {
      color: #ffffff;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border: 1px solid $line-color;
      border-bottom: 1px solid #23221d;
    }
    &:not(.active):hover {
      color: $main-color;
    }
  }
  .space {
    border-bottom: 1px solid $line-color;
    flex: 1;
  }
}
.tab-w {
  padding: 20px 0px;
}