<div>
  <div class="menu">
    <div class="buttons">
      <div class="btn primary" (click)="addDatasource()">+添加</div>
    </div>
    <div class="search">
      <nz-input [nzPlaceHolder]="'按名称、标签、监控对象等搜索'" [(ngModel)]="searchText" style="width: 300px;">
        <ng-template #addOnAfter>
          <i class="iconfont icon-sousuo point-cursor" (click)="onSearch()"></i>
        </ng-template>
      </nz-input>
    </div>
  </div>

  <div>
    <!-- <nz-table #nzTable [nzDataSource]="dataSources" [nzSize]="'small'" [nzBordered]="'false'" 
      [nzPageSize]="10" [nzShowTotal]="true" nzShowSizeChanger [nzShowQuickJumper]="true"> -->
    <nz-table #nzTable [nzAjaxData]="dataSources" [nzBordered]="'true'" [nzShowSizeChanger]="true" [nzShowQuickJumper]="true" [nzShowTotal]="true" [nzTotal]="_total" 
      (nzPageIndexChange)="refreshData()" [(nzPageIndex)]="_current" [(nzPageSize)]="_pageSize" (nzPageSizeChange)="refreshData(true)">
      <thead nz-thead>
        <tr style="height: 44px;">
          <th nz-th [nzWidth]="'120px'">
            <span>名称</span>
          </th>
          <th nz-th [nzWidth]="'180px'">
            <span>URL</span>
          </th>
          <th nz-th [nzWidth]="'60px'">
            <span>读/写</span>
          </th>
          <th nz-th [nzWidth]="'100px'">
            <span>类型</span>
          </th>
          <th nz-th [nzWidth]="'80px'">
            <span>用户</span>
          </th>
          <th nz-th [nzWidth]="'80px'">
            <span>密码</span>
          </th>
          <th nz-th>
            <span>描述</span>
          </th>
          <th nz-th [nzWidth]="'110px'">
            <span>操作</span>
          </th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data; let i = index;" [ngClass]="{stripe: i%2}" style="height: 40px;">
          <td nz-td>{{data.name}}</td>
          <td nz-td>{{data.url}}</td>
          <td nz-td>{{data.permission}}</td>
          <td nz-td>{{data.type}}</td>
          <td nz-td>{{data.basicAuthUser}}</td>
          <!-- <td nz-td>{{data.basicAuthPassword}}</td> -->
          <td nz-td>*********</td>
          <td nz-td>{{data.desc}}</td>
          <td nz-td>
            <i class="iconfont icon-ceshilianjie iconfont-group" (click)="onTestConnect()"></i>
            <i class="iconfont icon-bianji iconfont-group" (click)="onEdit()"></i>
            <i class="iconfont icon-table_shanchu iconfont-group" (click)="onConfirmDelete(data)"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>